[Unit]
Description=PiHole
After=docker.service
Requires=docker.service

[Service]
User={{ pihole_user }}
Group={{ pihole_group }}
ExecStart=/usr/bin/docker start -a pihole
ExecStop=/usr/bin/docker stop -t 10 pihole
Restart=always

[Install]
WantedBy=multi-user.target
