[Unit]
Description=DRM VC4 capture
After=kodi.service

[Service]
ExecStartPre=/bin/sleep 10
ExecStart={{ hyperion_drm_capture_binary }} --device {{ hyperion_drm_capture_device }}
TimeoutStopSec=2
Restart=always
RestartSec=10
StandardOutput=null

[Install]
WantedBy=default.target
