<advancedsettings>
    <cputempcommand>sed -e 's/\([0-9]*\)[0-9]\{3\}.*/\1 C/' /sys/class/thermal/thermal_zone0/temp</cputempcommand>
    <loglevel>{{ kodi_advanced_settins.log_level }}</loglevel>
    <setting id="debug.extralogging">{{ kodi_advanced_settins.extra_logging }}</setting>
    <setting id="debug.setextraloglevel">{{ kodi_advanced_settins.extra_log_level }}</setting>
</advancedsettings>
