<advancedsettings version="1">
    <cputempcommand>{{ kodi_cpu_command }}</cputempcommand>
    <loglevel>{{ kodi_advanced_settins.log_level }}</loglevel>
    <setting id="debug.extralogging">{{ kodi_advanced_settins.extra_logging }}</setting>
    <setting id="debug.setextraloglevel">{{ kodi_advanced_settins.extra_log_level }}</setting>
</advancedsettings>
