[Unit]
Description=AdGuard
After=docker.service
Requires=docker.service

[Service]
User={{ adguard_user }}
Group={{ adguard_group }}
ExecStart=/usr/bin/docker start -a adguard
ExecStop=/usr/bin/docker stop -t 10 adguard
Restart=always

[Install]
WantedBy=multi-user.target
