http:
  routers:
{% for site in traefik_http_sites %}
    {{ site.name }}:
      rule: "Host(`{{ site.name }}.{{ domain_name }}`)"
      service: {{ site.name }}
{% endfor %}

  services:
{% for site in traefik_http_sites %}
    {{ site.name }}:
      loadBalancer:
        servers:
          - url: "{{ site.backend }}"
{% endfor %}
